<!DOCTYPE html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Email Tiger</title>
    <link type="text/css" rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
    <link type="text/css" rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">
    <link type="text/css" rel="stylesheet" href="styles/app.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


<style>

@media only screen and (min-width: 768px) {

    #main-image {
        height: 200px;
    }

    #mobile {

        padding-bottom: 20px;
        text-align: center;
    }

    #mobile3 {

        color: green;
    }

    #mobile4 {

        color: red;
    }

    #box {
        transform: scale(1.25);
    }

    #sendbtn3 {

        margin: 5px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    #sendbtn {

        font-size: 14px;
        margin-left: 10px;

    }

    #sendbtn2 {

        background-color:grey;
        font-size: 14px;

    }

    #textfield {
        width: 300px;
    }

    .container {
        width: 90%;
        border-radius: 15px;
    }


}


@media only screen and (max-width: 768px) {

    #main-image {
        height: 100px;
    }

    #mobile {

        padding-bottom: 20px;
        text-align: center;
    }

    #mobile3 {

        color: green;
    }

    #mobile4 {

        color: red;
    }

    #box {
        transform: scale(1.25);
    }

    #sendbtn3 {

        margin: 5px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    #sendbtn {

        font-size: 14px;
        margin-left: 10px;

    }

    #sendbtn2 {

        background-color:grey;
        font-size: 14px;

    }

    .container {
        width: 90%;
        border-radius: 15px;
    }

}
</style>
</head>
 <body>
     <div class="space" style="height: 30px;"></div>

     <div class="container" style="background-color: #f6f6f6;">
             <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
                 <div class="col-md-12">
                     <p style="text-align: center;">
                         <img id="main-image" src="/static/img/email-tiger-logo.png">
                    </p>
                     <div class="row">
                         <div class="col-sm-12 col-md-2"></div>
                         <div class="col-sm-12 col-md-8">
                         <p style="text-align: center;"> Your organization may have blocked access to the information that Email Tiger needs to work properly.
                                            Contact us at <a href="mailto:support@email-tiger.com" target="_blank">support@email-tiger.com</a> for more information.</p>
                        </div>
                        <div class="col-sm-12 col-md-2"></div>


                     </div>
                </div>
            </div>

        </div>


  </body>
  </html>
